name: ci

on:
    workflow_dispatch:
    push:
        branches:
            - 'master'

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: "Docker: Setup QEMU"
              uses: docker/setup-qemu-action@v2.1
              with:
                platforms: 'arm64,arm' # is `arm` needed?

            - name: "Docker: Setup buildx"
              uses: docker/setup-buildx-action@v2.5
              with:
                platforms: linux/amd64,linux/arm64

            # Could potentially cache here?

            - name: "Docker: Log in to Github Container Registry"
              uses: docker/login-action@v2.1.0
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ github.actor }}
                password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

            - name: Checkout repository
              uses: actions/checkout@v3

            - name: "Docker: Extract metadata (tags, labels) for Docker"
              id: meta
              uses: docker/metadata-action@v4.3.0
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}


            - name: Get gitinfo.txt
              run: git show -s > gitinfo.txt

            - name: "Docker: Build and push Docker image"
              uses: docker/build-push-action@v4.0.0
              with:
                  context: .
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}